.row {
    display: flex;
}

.column {
    flex: 50%;
}

h2 {
    color: green;
}

body {
    padding-left: 30px;
}

.vl {
    border-left: 6px solid green;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }